<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body>
    <h1 th:text = "${user.username}">Greetings, </h1>
    <br>

    <div>
        <p><span th:text = "${user.firstName}"></span>
        <span th:text = "${user.lastName}"></span></p>
        <p><span th:text = "${user.dateOfBirth}"></span></p>
        <p><span th:text = "${user.bio}"></span></p>
    </div>

    <div>
        <h3>My Post</h3>
        <br>
        <ul>
            <li></li>
        </ul>
    </div>
</body>
</html>