<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign-up</title>
</head>
<body>
    <h1>Sign-Up</h1>
    <p></p>
    <form action="/login" method="POST">
        <p>First Name: <input id="firstname"></p>
        <p>Last Name: <input id="lastname"></p>
        <p>Date of Birth: <input id="dob"></p>
        <p>Bio: <input id="bio"></p>
        <p>Username: <input id="username"></p>
        <p>Password: <input id="password"></p>
        <button type="submitubmit">Sign-up</button>
    </form>
</body>
</html>